@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-slide *:focus { outline: none; }
.slick-prev:before {
    color: gray !important;
  font-size: 35px !important;
    position: relative !important;
    right: 35px !important;

  
}
.slick-next:before {
  color: gray !important;
  font-size: 35px !important;
  
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .slick-prev:before {
   
  font-size: 35px !important;
    position: relative !important;
    right: 15px !important;

  
}

@media only screen and (max-width: 600px) {
  .slick-prev:before {
  
  font-size: 35px !important;
    position: relative !important;
    right: 1px !important;

  
}
}
